# Pair programming API

## Ejercicios de API's

Enunciado - Obtener datos energéticos usando la API de Red Eléctrica.

Descripción: La empresa para la que trabajamos dispone de una base de datos que contiene información sobre el número de personas censadas en las distintas Comunidades Autónomas españolas desde 1998 hasta 2022. El objetivo es enriquecer estos datos con información sobre la generación de energía renovable y no renovable, utilizando la API de REData, la cual proporciona información sobre el mercado energético en España. Puedes encontrar la documentación de la API [aquí](https://www.ree.es/es/apidatos).

**1. Extracción de Datos a Nivel Nacional:**

- Extraer datos de generación de energía renovable y no renovable a nivel nacional desde el 1 de enero de 2011 hasta el 31 de diciembre de 2022. La información debe ser recopilada a nivel mensual.

- Transformar los datos para incluir una columna nueva que identifique si la energía es renovable o no renovable.

- Almacenar los datos en un DataFrame con la siguiente estructura:

|tipo_energia|tipo_generacion|fecha|valor|
|----|-------|------|------|
|Hidráulica|Renovable|2011-01-01T00:00:00.000+01:00|5.119512e+06|
|Hidráulica|Renovable|2011-02-01T00:00:00.000+01:00|2.998051e+06|
|Hidráulica|Renovable|2011-03-01T00:00:00.000+01:00|3.910363e+06|
|Hidráulica|Renovable|2011-04-01T00:00:00.000+02:00|3.537938e+06|
|Hidráulica|Renovable|2011-05-01T00:00:00.000+02:00|2.797500e+06|
|...|...|...|...|
|Generación total|Generación total|2022-08-01T00:00:00.000+02:00|2.528779e+07|
|Generación total|Generación total|2022-09-01T00:00:00.000+02:00|2.366389e+07|
|Generación total|Generación total|2022-10-01T00:00:00.000+02:00|2.195674e+07|
|Generación total|Generación total|2022-11-01T00:00:00.000+01:00|2.157244e+07|
|Generación total|Generación total|2022-12-01T00:00:00.000+01:00|2.222615e+07|

**2. Extracción de Datos por Comunidad Autónoma:**

- Extraer datos de generación de energía renovable y no renovable por Comunidad Autónoma.

- Utilizar el diccionario `cod_comunidades` para obtener los códigos de cada comunidad autónoma.

- Transformar los datos para incluir una columna que especifique la comunidad autónoma y su identificador.

- Almacenar los datos en un DataFrame con la siguiente estructura:

|tipo_energia|tipo_generacion|fecha|valor|ccaa|
|----|-------|------|------|------|
|Motores diésel|No-Renovable|2011-01-01T00:00:00.000+01:00|16727.395|Ceuta|
|Motores diésel|No-Renovable|2011-02-01T00:00:00.000+01:00|15216.784|Ceuta|
|Motores diésel|No-Renovable|2011-03-01T00:00:00.000+01:00|16429.358|Ceuta|
|Motores diésel|No-Renovable|2011-04-01T00:00:00.000+02:00|14974.756|Ceuta|
|Motores diésel|No-Renovable|2011-05-01T00:00:00.000+02:00|15951.381|Ceuta|
|...|...|...|...|...|
|Generación total|Generación total|2022-08-01T00:00:00.000+02:00|152284.837|La Rioja|
|Generación total|Generación total|2022-09-01T00:00:00.000+02:00|214907.540|La Rioja|
|Generación total|Generación total|2022-10-01T00:00:00.000+02:00|234249.375|La Rioja|
|Generación total|Generación total|2022-11-01T00:00:00.000+01:00|175403.270|La Rioja|
|Generación total|Generación total|2022-12-01T00:00:00.000+01:00|217137.242|La Rioja|

- El diccionario de `cod_comunidades` es:

    ```python
    cod_comunidades = {'Ceuta': 8744,
                        'Melilla': 8745,
                        'Andalucía': 4,
                        'Aragón': 5,
                        'Cantabria': 6,
                        'Castilla - La Mancha': 7,
                        'Castilla y León': 8,
                        'Cataluña': 9,
                        'País Vasco': 10,
                        'Principado de Asturias': 11,
                        'Comunidad de Madrid': 13,
                        'Comunidad Foral de Navarra': 14,
                        'Comunitat Valenciana': 15,
                        'Extremadura': 16,
                        'Galicia': 17,
                        'Illes Balears': 8743,
                        'Canarias': 8742,
                        'Región de Murcia': 21,
                        'La Rioja': 20}
    ```

In [12]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd

# Uso de API's
# -----------------------------------------------------------------------
import requests

# Importar librerías para procesamiento de texto
# -----------------------------------------------------------------------
import re

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames=(tablas de excel)

In [13]:
# funciión para autenticar más rapido
def llamar_api(url):
   
    llamada = requests.get(url)  # Realiza una solicitud GET a la URL proporcionada y almacena la respuesta en 'llamada'.
    print(f"La llamada a la API nos ha dado una respuesta de tipo: {llamada.status_code}")  # Imprime el código de estado de la respuesta.

    if llamada.status_code != 200:  # Comprueba si la respuesta no fue exitosa (código de estado distinto de 200).
        print(f"El motivo por el que la llamada falló es {llamada.reason}")  # Imprime la razón de la falla.
    else:
        return llamada.json()  # Si la llamada fue exitosa, devuelve los datos de respuesta en formato JSON.

In [41]:
url_energia = f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month"
llamada_json = requests.get(url_energia)
llamada_json.status_code

200

In [ ]:
llamada_json = llamada_json.json()
llamada_json

In [43]:
llamada_json.keys()

dict_keys(['data', 'included'])

In [ ]:
llamada_json['included']

In [39]:
dic_energia = {'tipo_energia':[], 'tipo_generacion':[], 'fecha': [], 'valor': []}

for energia in llamada_json['included']:
    values = energia['attributes']['values']
    
    for value in values:
        dic_energia['tipo_energia'].append(energia['type'])
        dic_energia['tipo_generacion'].append(energia['attributes']['type'])
        dic_energia['fecha'].append(value['datetime'])
        dic_energia['valor'].append(value['value'])
    
dic_tabla = pd.DataFrame(dic_energia)
dic_tabla

,tipo_energia,tipo_generacion,fecha,valor
0,Hidráulica,Renovable,2011-01-01T00:00:00.000+01:00,5.119512e+06
1,Hidráulica,Renovable,2011-02-01T00:00:00.000+01:00,2.998051e+06
2,Hidráulica,Renovable,2011-03-01T00:00:00.000+01:00,3.910363e+06
3,Hidráulica,Renovable,2011-04-01T00:00:00.000+02:00,3.537938e+06
4,Hidráulica,Renovable,2011-05-01T00:00:00.000+02:00,2.797500e+06
...,...,...,...,...
403,Generación total,Generación total,2012-08-01T00:00:00.000+02:00,2.394456e+07
404,Generación total,Generación total,2012-09-01T00:00:00.000+02:00,2.258975e+07
405,Generación total,Generación total,2012-10-01T00:00:00.000+02:00,2.281252e+07
406,Generación total,Generación total,2012-11-01T00:00:00.000+01:00,2.255678e+07
407,Generación total,Generación total,2012-12-01T00:00:00.000+01:00,2.411261e+07

In [27]:
cod_comunidades = {
    'Ceuta': 8744,
    'Melilla': 8745,
    'Andalucía': 4,
    'Aragón': 5,
    'Cantabria': 6,
    'Castilla - La Mancha': 7,
    'Castilla y León': 8,
    'Cataluña': 9,
    'País Vasco': 10,
    'Principado de Asturias': 11,
    'Comunidad de Madrid': 13,
    'Comunidad Foral de Navarra': 14,
    'Comunitat Valenciana': 15,
    'Extremadura': 16,
    'Galicia': 17,
    'Illes Balears': 8743,
    'Canarias': 8742,
    'Región de Murcia': 21,
    'La Rioja': 20
}

datos_por_comunidad = {'tipo_energia':[], 'tipo_generacion':[], 'fecha': [], 'valor': [], 'ccaa': [] }

def map_valores(datos_por_comunidad, nombre_comunidad, resultado):
    for energia in resultado:
        values = energia['attributes']['values']
    
        for value in values:
            datos_por_comunidad['tipo_energia'].append(energia['type'])
            datos_por_comunidad['tipo_generacion'].append(energia['attributes']['type'])
            datos_por_comunidad['fecha'].append(value['datetime'])
            datos_por_comunidad['valor'].append(value['value'])
            datos_por_comunidad['ccaa'].append(nombre_comunidad)
    
    return datos_por_comunidad

def generar_url(codigo_comunidad):
    start_date = 'start_date=2011-01-01T00:00'
    end_date = 'end_date=2012-12-31T23:59'
    time_trunc = 'time_trunc=month'
    geo_limit= 'geo_limit=ccaa'
    geo_ids = f'geo_ids={codigo_comunidad}'
    
    return f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?{start_date}&{end_date}&{time_trunc}&{geo_limit}&{geo_ids}"

for nombre_comunidad, codigo_comunidad in cod_comunidades.items():
    print(f"Nombre Comunidad: {nombre_comunidad}, Codigo Comunidad: {codigo_comunidad}, URL: {generar_url(codigo_comunidad)} \n")
    
    resultado = llamar_api(generar_url(codigo_comunidad))
    
    map_valores(datos_por_comunidad, nombre_comunidad, resultado['included'])
    

dic_tabla = pd.DataFrame(datos_por_comunidad)
dic_tabla

Nombre Comunidad: Ceuta, Codigo Comunidad: 8744, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=8744

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Melilla, Codigo Comunidad: 8745, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=8745

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Andalucía, Codigo Comunidad: 4, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=4

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Aragón, Codigo Comunidad: 5, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=5

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Cantabria, Codigo Comunidad: 6, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=6

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Castilla - La Mancha, Codigo Comunidad: 7, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=7

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Castilla y León, Codigo Comunidad: 8, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=8

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Cataluña, Codigo Comunidad: 9, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=9

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: País Vasco, Codigo Comunidad: 10, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=10

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Principado de Asturias, Codigo Comunidad: 11, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=11

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Comunidad de Madrid, Codigo Comunidad: 13, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=13

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Comunidad Foral de Navarra, Codigo Comunidad: 14, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=14

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Comunitat Valenciana, Codigo Comunidad: 15, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=15

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Extremadura, Codigo Comunidad: 16, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=16

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Galicia, Codigo Comunidad: 17, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=17

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Illes Balears, Codigo Comunidad: 8743, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=8743

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Canarias, Codigo Comunidad: 8742, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=8742

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: Región de Murcia, Codigo Comunidad: 21, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=21

La llamada a la API nos ha dado una respuesta de tipo: 200
Nombre Comunidad: La Rioja, Codigo Comunidad: 20, URL: https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2012-12-31T23:59&time_trunc=month&geo_limit=ccaa&geo_ids=20

La llamada a la API nos ha dado una respuesta de tipo: 200

,tipo_energia,tipo_generacion,fecha,valor,ccaa
0,Motores diésel,No-Renovable,2011-01-01T00:00:00.000+01:00,16727.395,Ceuta
1,Motores diésel,No-Renovable,2011-02-01T00:00:00.000+01:00,15216.784,Ceuta
2,Motores diésel,No-Renovable,2011-03-01T00:00:00.000+01:00,16429.358,Ceuta
3,Motores diésel,No-Renovable,2011-04-01T00:00:00.000+02:00,14974.756,Ceuta
4,Motores diésel,No-Renovable,2011-05-01T00:00:00.000+02:00,15951.381,Ceuta
...,...,...,...,...,...
4002,Generación total,Generación total,2012-08-01T00:00:00.000+02:00,249908.007,La Rioja
4003,Generación total,Generación total,2012-09-01T00:00:00.000+02:00,270391.764,La Rioja
4004,Generación total,Generación total,2012-10-01T00:00:00.000+02:00,170957.369,La Rioja
4005,Generación total,Generación total,2012-11-01T00:00:00.000+01:00,119301.980,La Rioja
4006,Generación total,Generación total,2012-12-01T00:00:00.000+01:00,219254.728,La Rioja